.site__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;

  nav:hover ul {
    display: flex;
  }
}
.site__logo{
  font-family: $fTitle;
  color: #f5f5f5;
  text-transform: uppercase;
  font-weight: bold;
}
.header__homeLink{
  text-decoration: none;
    &:hover{
      text-decoration: none;
    }
}
#menu-icon {
  background: url(../svg/menu-icon.svg) no-repeat center;
  display: block;
  width: 40px;
  height: 38px;
}

.header__menu__ul {
  margin: 0;
  display: none;
  flex-direction: column;
  list-style: none;
  position: absolute;
  padding: 10px 20px;
  background: #eef3fb;
  border: 5px solid #444;
  right: 7px;
  top: 38px;
  min-width: 35%;
  border-radius: 4px 0 4px 4px;
}

.header__menu__li {
  display: inline-block;
  text-align: center;
}

.header__menu__a {
  display: inline-block;
  padding: 7px 10px;
  color: rgba(#285473, .8);
  font-size: 15px;
  text-decoration: none;
  font-family: $fText;

    &:hover{
      color: rgba(#285473, 1);
      text-decoration: underline;
    }
}
.header__menu__a--activ{
  color: #76A9FF !important;

  &:hover{
    text-decoration: none;
  }
}
@include for-tablet-portrait-up {
 // BASE START min-width: 600 ++++++++

 // BASE END min-width: 600 ++++++++
}
@include for-tablet-landscape-up {
 // BASE START min-width: 900px ++++++++
 .site__header{
   padding: 0;
 }
 #menu-icon {
   display: none;
 }

 .header__menu__ul {
   display: flex;
   flex-direction: row;
   position: static;
   background-color: transparent;
   border: none;
   padding: 0;
   width: 100%;
 }
 .header__menu__a {
  color: #eceff1;
  transition: all .25s ease-in-out;

  &:hover{
    color: #fafafa;
  }
 }
 // BASE END min-width: 900px ++++++++
}
@include for-desktop-up {
 // BASE START min-width: 1200px ++++++++

 // BASE END min-width: 1200px ++++++++
}
@include for-big-desktop-up {
 // BASE START min-width: 1800 ++++++++

 // BASE END min-width: 1800 ++++++++
}
