.hellRight{
  display: flex;
  justify-content: space-around;

  position: fixed;
  bottom: 0;

  width: 100%;
  height: 100%;
  max-height: 280px;

  background-color: #eef3fb;

  button{
    background-color: #e26a6a;
    border: 0;
    font-size: 1.5rem;

    position: absolute;
    right: 8px;
  }
}

.ydstick{
  max-width: 100%;
}




@include for-tablet-portrait-up {

  .hellRight {
    position: sticky;

    top: 20px;


    width: auto;
    bottom: auto;
    height: auto;
    max-height: none;
  }
  .ydstick {




  }
}