---
layout: compress
---

<!DOCTYPE html>
<html lang="ru">
{% include head.html %}
<body itemscope itemtype="http://schema.org/WebPage">
{% include header.html %}
<div class="main--wrap">

    <!--1-->

    <main class="main__content" itemscope itemprop="mainContentOfPage">
        <ul class="breadcrumb__ul" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb__li" itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem">
                <a class="breadcrumb__link" itemprop="item"  href="/">
                    <span class="breadcrumb__span" itemprop="name">Home</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            {% assign breadCounter = 1 %}
            {% if page.breadcrumb %}
                {% for breadcrumb in page.breadcrumb %}
                    {% case breadcrumb.id %}
                    {% when "category" %}
                    {% assign pageCategory = breadcrumb.url | remove: "/"  %}
                    {% when "tag" %}
                    {% assign pageTag = breadcrumb.url | remove: "/"  | remove: pageCategory %}
                    {% endcase %}
                    {% assign breadCounter = breadCounter | plus: 1 %}
                    <li class="breadcrumb__li" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a class="breadcrumb__link" itemprop="item"
                           href="{{ breadcrumb.url | prepend: site.baseurl | prepend: site.url | append: "/" }}">
                            <span class="breadcrumb__span" itemprop="name">{{ breadcrumb.name }}</span>
                        </a>
                        <meta itemprop="position" content="{{ breadCounter }}"/>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        {% if page.info %}
            {% capture infoUrl %} {{ page.url | remove: "/index.html"}} {% endcapture %}
            {% capture catUrl %} /{{ page.category | remove: "/index.html"}} {% endcapture %}

            {% if infoUrl == catUrl %}






                    <section class="posts" >

                        <h1 class="paginate__title" >
                            {{ page.info.title }}
                        </h1>

                        <div class="posts__body paginate__description">

                            {% for paragraph in page.info.description %}
                                <p class="posts__descriptions">
                                    {{paragraph.p}}
                                    {% if forloop.last and page.info.link %}
                                        <a class="paginate__description__link" target="_blank" href="{{page.info.link.url}}"><span>&nbsp;</span>{{page.info.link.text}}</a>
                                    {% endif %}
                                </p>
                            {% endfor %}

                        </div>
                        </section>




            {% endif %}

        {% endif %}

        {% for post in paginator.posts %}



        {% case forloop.index %}
        {% when 1 %}
        {% assign PagnPostUrl--1 = post.url %}
        {% when 2 %}
        {% assign PagnPostUrl--2 = post.url %}
        {% when 3 %}
        {% assign PagnPostUrl--3 = post.url %}
        {% when 4 %}
        {% assign PagnPostUrl--4 = post.url %}
        {% when 5 %}
        {% assign PagnPostUrl--5 = post.url %}
        {% when 6 %}
        {% assign PagnPostUrl--6 = post.url %}
        {% when 7 %}
        {% assign PagnPostUrl--7 = post.url %}
        {% when 8 %}
        {% assign PagnPostUrl--8 = post.url %}
        {% endcase %}



        {% case forloop.index0 %}
        {% when 2 %}
        <!--1-->
        {% when 4 %}
        <!--2-->
        {% when 6 %}
        <!--3-->
        {% endcase %}
        <article class="posts" itemscope itemtype="http://schema.org/Article">
            <header class="posts__header">
                <h2 class="posts__title" itemprop="headline">
                    <a itemprop="url" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                        {{ post.title }}
                    </a>
                </h2>
                {% if post.previewImage.presentPost %}
                <img itemprop="image" class="posts__img" src="{{ post.previewImage.presentPost | prepend: "/assets/image/src" | prepend: site.baseurl | prepend: site.url }}" alt="Инфографика к записи">
                {% endif %}
            </header>
            <div class="posts__body">
                {% if post.previewImage.mini %}
                <img itemprop="image" class="posts__img-mini" src="{{ post.previewImage.mini | prepend: "/assets/image/src" | prepend: site.baseurl | prepend: site.url }}" alt="Инфографика к записи">
                {% endif %}
                <p class="posts__descriptions" itemprop="description">{{post.description | truncate: 160}}</p>
            </div>
            <footer class="posts__footer">
                {% include share.html %}

            </footer>
        </article>

        {% endfor %}

        {% if paginator.total_pages > 1 %}
        <nav class="pagination--wrap">
            <ul class="pagination"  itemscope itemtype="http://schema.org/SiteNavigationElement">

                {% if paginator.previous_page %}
                <li>
                    <a class="pagination__link prev" itemprop="url" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | remove_first: "/index.html"}}">
                    <span itemprop="name">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                <li>
                    <a class="pagination__link {% if page.url == trail.path %}active{% endif %}" href="{{ trail.path | prepend: site.baseurl | prepend: site.url | remove: 'index.html'}}">
                    <span itemprop="name">{{ trail.num }}</span>
                    </a>
                </li>
                {% endfor %}
                {% endif %}

                {% if paginator.next_page %}
                <li >
                    <a class="pagination__link next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | remove_first: "/index.html"}}">
                    <span itemprop="name">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

    </main>
    <aside class="main__aside1" itemscope itemtype="http://schema.org/WPSideBar">
        <div class="relPost--wrap">

            {% assign sizeRel--min = 2 %}
            {% assign sizeRel = 4 %}

                {% if pageCategory and pageTag %}
                    {% assign counterRelPost = 0 %}

                    {% for post in site.categories[pageCategory] %}

                        {% if post.tags contains pageTag and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                            {% assign counterRelPost = counterRelPost | plus: 1 %}

                            {% if counterRelPost == sizeRel--min %}
                                {% assign goRelPosts = true %}
                                {% assign outputRel = 0 %}

                                {% for post in site.categories[pageCategory] %}

                                    {% if post.tags contains pageTag and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                                        {% assign outputRel = outputRel | plus: 1 %}
                                        {% include relPost.html %}
                                {% if outputRel == sizeRel %}
                                    {% break %}
                                {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}


                        {% if counterRelPost == sizeRel--min %}
                            {% break %}
                        {% endif %}

                    {% endfor %}

                    {% unless goRelPosts %}
                    {% assign counterRelPost = 0 %}

                        {% for post in site.categories[pageCategory] %}

                            {% if post.url != page.url and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                                {% assign counterRelPost = counterRelPost | plus: 1 %}
                                {% if counterRelPost == sizeRel--min %}
                                    {% assign goRelPosts = true %}
                                    {% assign outputRel = 0 %}

                                    {% for post in site.categories[pageCategory] %}

                                        {% if post.url != page.url and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                                            {% assign outputRel = outputRel | plus: 1 %}
                                            {% include relPost.html %}
                                            {% if outputRel == sizeRel %}
                                                {% break %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                {% endif %}
                            {% endif %}
                            {% if counterRelPost == sizeRel--min %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endunless %}

                    {% unless goRelPosts %}
                    {% assign counterRelPost = 0 %}

                        {% for post in site.posts %}

                            {% if post.url != page.url and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                                {% assign counterRelPost = counterRelPost | plus: 1 %}
                                {% include relPost.html %}
                            {% endif %}
                            {% if counterRelPost == sizeRel %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endunless %}

                    {% elsif pageCategory %}
                    {% assign counterRelPost = 0 %}
                    {% for post in site.categories[pageCategory] %}

                        {% if post.url != page.url and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                            {% assign counterRelPost = counterRelPost | plus: 1 %}

                            {% if counterRelPost == sizeRel--min %}
                                {% assign goRelPosts = true %}
                                {% assign outputRel = 0 %}
                                {% for post in site.categories[pageCategory] %}

                                    {% if post.url != page.url and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                                        {% assign outputRel = outputRel | plus: 1 %}
                                        {% include relPost.html %}
                                        {% if outputRel == sizeRel %}
                                            {% break %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% if counterRelPost == sizeRel--min %}
                            {% break %}
                        {% endif %}
                    {% endfor %}

                    {% unless goRelPosts %}
                    {% assign counterRelPost = 0 %}
                        {% for post in site.posts %}

                            {% if post.url != page.url and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                                {% assign counterRelPost = counterRelPost | plus: 1 %}
                                {% include relPost.html %}
                            {% endif %}
                            {% if counterRelPost == sizeRel %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endunless %}


            {% else %}

                {% assign counterRelPost = 0 %}
                {% for post in site.posts %}

                    {% if post.url != page.url and post.previewImage.relPost and PagnPostUrl--1 != post.url and PagnPostUrl--2 != post.url and PagnPostUrl--3 != post.url and PagnPostUrl--4 != post.url and PagnPostUrl--5 != post.url and PagnPostUrl--6 != post.url and PagnPostUrl--7 != post.url and PagnPostUrl--8 != post.url %}

                        {% assign counterRelPost = counterRelPost | plus: 1 %}
                        {% include relPost.html %}
                    {% endif %}
                    {% if counterRelPost == sizeRel %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>


    </aside>
    <nav class="main__nav menuRight">
        <h4 class="toggle" onclick="myFunction()" >Menu &darr;</h4>
        <ul class="menuRight__nav" id="menu__right" itemscope itemtype="http://schema.org/SiteNavigationElement">
            {% if pageCategory %}
                {% assign siteMenu = site.data.rightMenu %}
                {% assign pageMenu = pageCategory %}
                {% for menu in siteMenu %}
                    {% assign clearUrl = menu.url | remove: "/" %}
                    {% if clearUrl contains pageMenu %}

                        {% for tag in menu.tag %}
                            {% capture catUrl %}/{{ tag.url | remove: '/' }}/{% endcapture %}
                            <li>
                                <a {% if page.url contains catUrl %}class="menuRight--activ"{% endif %} itemprop="url"
                                   href="{{ tag.url | prepend: menu.url | prepend: site.baseurl | prepend: site.url | append: "/" }}">
                                    <span itemprop="name">{{ tag.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if catUrl %}
                        {% break %}
                    {% endif %}
                {% endfor %}
                {% unless catUrl %}
                    {% include menuRight.html %}
                {% endunless %}

                {% elsif page.url == '/index.html' or page.url == site.url %}

                {% if page.menuRight == 1 %}
                    {% assign siteMenu = site.data.rightMenu %}

                    {% for menu in siteMenu %}
                        {% assign clearUrl = menu.url | remove: "/" %}
                        <li>
                            <a  itemprop="url"
                               href="{{ menu.url | prepend: site.baseurl | prepend: site.url | append: "/" }}">
                                <span itemprop="name">{{ menu.name }}</span>
                            </a>
                        </li>

                    {% endfor %}
                {% else %}
                    {% include menuRight.html %}
                {% endif %}

            {% else %}
                {% include menuRight.html %}
            {% endif %}
        </ul>

    </nav>
</div>

<footer class="site__footer--wrap">
    {% include footer.html %}
</footer>

<script src="/assets/js/donate.js"></script>
</body>
</html>


